<?xml version="1.0" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id=""
	version="1.0.0">
	<name>pinkfongTV</name>
	<description>pinkfongTV for OllehTV</description>
	<content src="index.html" />
	<icon src="" />
	<author>TLab Convergence Institute</author>
	<license>Smart Study</license>
</widget>